<h1>Edit <%= current_user.email %></h1>

<div class="user-edit">
<%= form_for current_user do |f| %>
  <%= f.text_field :email %>
  <%= f.text_field :password %>
  <%= f.text_field :password_confirmation %>
  <%= f.submit %>
<% end %>
</div>
